@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 0.7;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
body {
  background: #171717;
}

.grid__body {
  max-width: 1440px;
  margin: 130px 130px 0 130px;
  background-color: red;
  display: grid;
  grid-template-columns: 1fr fit-content(100px) 1fr;
  grid-template-rows: repeat(2, 1fr);
}
@media screen and (max-width: 750px) {
  .grid__body {
    margin: 130px 0 0 0;
  }
}
.grid__item {
  border: 3px solid #ffff;
  padding: 30px;
  text-align: center;
  color: #ffff;
  font-size: 40px;
  line-height: 0;
}
@media screen and (max-width: 750px) {
  .grid__item {
    padding: 20px;
    font-size: 20px;
  }
}
@media screen and (max-width: 170px) {
  .grid__item {
    padding: 5px;
    font-size: 5px;
  }
}
.grid__wraper {
  max-width: 440px;
  margin: 130px 130px 0 130px;
  background-color: red;
  display: grid;
  grid-template-columns: repeat 2, 1fr;
  grid-template-rows: repeat 2, 1fr;
  grid-template-areas: "hd hd" "sd cn";
}
@media screen and (max-width: 750px) {
  .grid__wraper {
    margin: 130px 0 0 0;
  }
}
.grid__item2 {
  border: 3px solid #ffff;
  padding: 30px;
  text-align: center;
  color: #ffff;
  font-size: 40px;
  line-height: 0;
}
@media screen and (max-width: 750px) {
  .grid__item2 {
    padding: 20px;
    font-size: 20px;
  }
}
@media screen and (max-width: 230px) {
  .grid__item2 {
    padding: 5px;
    font-size: 5px;
  }
}
.grid__heder {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: hd;
}
.grid__side {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: sd;
}
.grid__content {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: cn;
}

.grid__body3 {
  max-width: 1440px;
  margin: 130px 130px 0 130px;
  background-color: red;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-row: 100px;
}
@media screen and (max-width: 750px) {
  .grid__body3 {
    margin: 130px 0 0 0;
    text-align: center;
  }
}
.grid__item3 {
  border: 3px solid #ffff;
  padding: 30px;
  text-align: center;
  color: #ffff;
  font-size: 40px;
  line-height: 0;
}
@media screen and (max-width: 750px) {
  .grid__item3 {
    padding: 20px;
    font-size: 20px;
  }
}
@media screen and (max-width: 170px) {
  .grid__item3 {
    padding: 5px;
    font-size: 5px;
  }
}
.grid__item3-1 {
  grid-column-start: span 3;
}
.grid__item3-2 {
  grid-row-start: span 10;
}
.grid__item3-2 p {
  line-height: 80px;
}
.grid__item3-3 {
  grid-column-start: span 2;
}
.grid__item3-4 {
  grid-column-start: span 2;
}
.grid__item3-5 {
  grid-column-start: span 2;
}
.grid__item3-6 {
  grid-column-start: span 2;
}
.grid__item3-7 {
  grid-column-start: span 2;
}
.grid__item3-8 {
  grid-column-start: span 2;
}
.grid__item3-9 {
  grid-column-start: span 2;
}
.grid__item3-10 {
  grid-column-start: span 2;
}
.grid__item3-11 {
  grid-column-start: span 2;
}
.grid__item3-12 {
  grid-column-start: span 2;
}